body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.green {
  background-color: #167263;
}

.blue {
  background-color: #34257C;
}

.red {
  background-color: #204177;
}

.panel {
  height: 100vh;
}

#body-content {
  display: grid;
  grid-template-rows: 5% 55% 20% 20%;
  grid-template-columns: 5% auto 5%;
  height: 100vh;
}

#name {
  font-size: 7em;
  font-weight: 700;
  color: white;
  grid-row: 3;
  grid-column: 2;
  border-bottom: .2em solid #FFF;

}

.line {
  height: 0px;
  border-bottom: 1em solid #FFF;
  grid-row: 3;
  grid-column: 2;
}

#top-nav {
  grid-row: 2;
  grid-column: 2;
  color: white;
  text-align: right;
  font-size: 1.5em;
}


#bottom-nav {
  grid-row: 4;
  grid-column: 2;
  font-size: 2.2em;
  color: white;
  margin-top: 1em;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.project-box {
  display: grid;
  grid-template-rows: 5% 10% 5% 75% 5%;
  grid-template-columns: 5% 42.5% 5% 42.5% 5%;
}

.side-panel-left {
  grid-column: 2;
  grid-row: 4;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 47.5% 5% 47.5%;
}

.side-panel-right {
  grid-column: 4;
  grid-row: 4;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 47.5% 5% 47.5%;
}

.title {
  font-size: 5em;
  font-weight: 700;
  color: white;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 2;
}

.project {
  color: white;
}

.big {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column: 1;
  display: grid;
  grid-template-rows: 47.5% 5% 47.5%;

}

.small {
  display: grid;
  grid-template-columns: 50% 2% 48%;
}

.top {
  grid-row: 1;
}

.bot {
  grid-row: 3;
}

.proj-title {
  color: white;
  font-size: 1.8em;
  letter-spacing: .05em;
  border-bottom: solid .2em white;
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.small .proj-desc {
  font-family: 'Roboto Slab', serif;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: .5em;
}

.big .proj-desc {
  font-family: 'Roboto Slab', serif;
  letter-spacing: .05em;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 1em;
}

.small .proj-img {
  grid-column: 1;
  grid-row: 1;
  overflow: hidden;
}

.big .proj-img {
  grid-column: 1;
  grid-row: 1;
  overflow: hidden;
  height: 100%;
}

.proj-img img {
  width: 100%;
  min-height: 100%;
}

.proj-link {
  text-align: right;
  font-size: 1.4em;
  border: solid 5px white;
  text-align: center;
  padding: 1%;
  cursor: pointer;
}

.small .proj-link {
  grid-row: 3;
  grid-column: 2;
}

.big .proj-link {
  grid-row: 3;
  grid-column: 2;
}

.proj-link:hover {
  background-color: white;
  color: #17114c;
}

.big .proj-info {
  grid-row: 3;
  display: grid;
  grid-template-rows: 15% 70% 15%;
  grid-template-columns: 70% 30%;
}

.small .proj-info {
  grid-column: 3;
  display: grid;
  grid-template-rows: 15% 70% 15%;
  grid-template-columns: 60% 40%;
}

/* 1180 */
@media only screen and (max-width: 1180px) {
  #body-content {
    grid-template-columns: 5% 90% 5%;
  }

  .panel {
    overflow: hidden;
    height: auto;
  }

  #top-nav a {
    display: block;
  }

  #name {
    font-size: 4em;
    line-height: .9em;
    border: none;
  }

  #bottom-nav {
    font-size: 1.8em;
    display: block;
    text-align: left;
    margin-top: .5em;
  }

  a {
    text-decoration: underline;
  }

  .project-box {
    display: grid;
    grid-template-rows: 5% 20% 5% auto;
    grid-template-columns: 10% 80% 10%;
  }

/* PROGRESS */
  .side-panel-left {
    grid-column: 2;
    grid-row: 4;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 47.5% 5% 47.5%;
  }

  .side-panel-right {
    grid-column: 2;
    grid-row: 4;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 47.5% 5% 47.5%;
  }

  .title {
    font-size: 5em;
    font-weight: 700;
    color: white;
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row: 2;
  }

  .project {
    color: white;
  }

  .big {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column: 1;
    display: grid;
    grid-template-rows: 47.5% 5% 47.5%;

  }

  .small {
    display: grid;
    grid-template-columns: 50% 2% 48%;
  }

  .top {
    grid-row: 1;
  }

  .bot {
    grid-row: 3;
  }

  .proj-title {
    color: white;
    font-size: 1.8em;
    letter-spacing: .05em;
    border-bottom: solid .2em white;
    grid-row: 1;
    grid-column-start: 1;
    grid-column-end: 3;
  }

  .small .proj-desc {
    font-family: 'Roboto Slab', serif;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: .5em;
  }

  .big .proj-desc {
    font-family: 'Roboto Slab', serif;
    letter-spacing: .05em;
    grid-row: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    margin-top: 1em;
  }

  .small .proj-img {
    grid-column: 1;
    grid-row: 1;
    overflow: hidden;
  }

  .big .proj-img {
    grid-column: 1;
    grid-row: 1;
    overflow: hidden;
    height: 100%;
  }

  .proj-img img {
    width: 100%;
    min-height: 100%;
  }

  .proj-link {
    text-align: right;
    font-size: 1.4em;
    border: solid 5px white;
    text-align: center;
    padding: 1%;
    cursor: pointer;
  }

  .small .proj-link {
    grid-row: 3;
    grid-column: 2;
  }

  .big .proj-link {
    grid-row: 3;
    grid-column: 2;
  }

  .proj-link:hover {
    background-color: white;
    color: #17114c;
  }

  .big .proj-info {
    grid-row: 3;
    display: grid;
    grid-template-rows: 15% 70% 15%;
    grid-template-columns: 70% 30%;
  }

  .small .proj-info {
    grid-column: 3;
    display: grid;
    grid-template-rows: 15% 70% 15%;
    grid-template-columns: 60% 40%;
  }

}
