body {
  padding: 0;
  margin: 0;
  font-family: 'Libre Franklin', sans-serif;
}

.panel {
  height: 100vh;
}

.green {
  background-color: #167263;
}

.blue {
  background-color: #34257C;
}

.red {
  background-color: #204177;
}

#body-content {
  display: grid;
  grid-template-rows: 5% 55% 20% 20%;
  grid-template-columns: 5% auto 5%;
  height: 100vh;
}

#name {
  font-size: 7em;
  font-weight: 700;
  color: white;
  grid-row: 3;
  grid-column: 2;
  border-bottom: .2em solid #FFF;

}

.line {
  height: 0px;
  border-bottom: 1em solid #FFF;
  grid-row: 3;
  grid-column: 2;
}

#top-nav {
  grid-row: 2;
  grid-column: 2;
  color: white;
  text-align: right;
  font-size: 1.5em;
  letter-spacing: .1em;
}


#bottom-nav {
  grid-row: 4;
  grid-column: 2;
  font-size: 2.2em;
  color: white;
  margin-top: 1em;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  text-decoration: underline;
}

.project-box {
  display: grid;
  grid-template-rows: 5% 10% 5% 75% 5%;
  grid-template-columns: 5% 42.5% 5% 42.5% 5%;
}

.side-panel-left {
  grid-column: 2;
  grid-row: 4;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 47.5% 5% 47.5%;
}

.side-panel-right {
  grid-column: 4;
  grid-row: 4;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 47.5% 5% 47.5%;
}

.title {
  font-size: 5em;
  font-weight: 700;
  color: white;
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row: 2;
}

.project {
  color: white;
}

.big {
  grid-row-start: 1;
  grid-row-end: 4;
  grid-column: 1;
  display: grid;
  grid-template-rows: 47.5% 5% 47.5%;

}

.small {
  display: grid;
  grid-template-columns: 50% 2% 48%;
  grid-template-rows: 12% 5% 70% 5%;
}

.top {
  grid-row: 1;
}

.bot {
  grid-row: 3;
}

.proj-title {
  color: white;
  font-size: 1.8em;
  border-bottom: solid .2em white;
}

.small .proj-title {
  grid-column: 3;
}

.big .proj-title {
  grid-row: 1;
  grid-column-start: 1;
  grid-column-end: 3;
}

.small .proj-desc {
  font-family: 'Roboto Slab', serif;
  letter-spacing: .1em;
  grid-column: 3;
  grid-row: 3;
}

.big .proj-desc {
  font-family: 'Roboto Slab', serif;
  letter-spacing: .1em;
  grid-row: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  margin-top: 1em;
}

.small .proj-img {
  grid-column: 1;
  grid-row-start: 1;
  grid-row-end: 6;
  overflow: hidden;
}

.big .proj-img {
  grid-column: 1;
  grid-row: 1;
  overflow: hidden;
  height: 100%;
}

.proj-img img {
  width: 100%;
  min-height: 100%;
}

.small .proj-link {
  text-align: right;
  font-size: 1.4em;
  grid-row: 5;
  grid-column: 3;
}

.big .proj-link {
  grid-row: 3;
  grid-column: 2;
  text-align: right;
  font-size: 1.4em;
  background-color: red;
}

.big .proj-info {
  grid-row: 3;
  display: grid;
  grid-template-rows: 15% 70% 15%;
  grid-template-columns: 70% 30%;
}
